*{
    --font_color: #00c700;
    --bg_color: black;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--bg_color);
    color: var(--font_color);
    font-family: 'DotGothic16', sans-serif;
    overflow: hidden;
}

.hidden{
    display: none;
}

.begin_title{
    text-align: center;
    font-size: 45px;
    margin-top: 150px;
    cursor: pointer;
}

.begin_link{
    text-decoration: none;
}

.begin_circle{
    width: 200px;
    height: 200px;
    border: 1px solid var(--font_color);
    border-radius: 50%;

    position: absolute;
    right: -200px;
    bottom: 15%;

    animation: circle 3s infinite linear;
}

@keyframes circle{
    0% {right: -200px;}
    25% {right: 25%;}
    50% {right: 50%;}
    75% {right: 75%;}
    100% {right: 100%;}
}

.green_line{
    position: absolute;
    left: 0;
    bottom: 15%;
    height: 1px;
    width: 100%;
    background-color: var(--font_color);
}

.name_cont{
    text-align: center;
}

.name_input{
    width: 250px;
    border: 1px solid var(--font_color);
    padding: 5px 10px;
}

.name_input:focus{
    border: 1px solid var(--font_color);
    outline: none;
}

.start_link{
    text-decoration: none;
}

/*HANGMAN*/
.h_title{
    text-align: center;
    margin-top: 50px;
}

.green_block{
    width: 50px;
    height: 50px;
    background-color: var(--font_color);

    position: absolute;
    left: 15%;
    bottom: 10%;

    animation: jump 1s linear infinite;
}

@keyframes jump{
    0% {bottom: 10%;}
    25% {bottom: 12%;}
    50% {bottom: 17%;}
    75% {bottom: 12%;}
    100% {bottom: 10%;}
}

.jump_green_block{
    width: 50px;
    height: 50px;
    border: 1px solid var(--font_color);

    position: absolute;
    right: -50px;
    bottom: 10%;

    animation: move_left 3s linear infinite;
}

@keyframes move_left{
    0% {right: .50px;}
    25% {right: 25%;}
    50% {right: 50%;}
    75% {right: 75%;}
    100% {right: 100%;}
}

.green_line_hangman{
    position: absolute;
    left: 0;
    bottom: 10%;
    height: 1px;
    width: 100%;
    background-color: var(--font_color);
}

.rules_p{
    text-align: center;
    margin-top: 100px;
    font-size: 20px;
}

.game_cont{
    width: 70%;
    height: 650px;
    /*border: 1px solid var(--font_color);*/

    margin: 75px auto;

    display: flex;
    flex-direction: column;
}

.enemy_deck{
    flex-basis: 50%;
    border: 1px solid var(--font_color);
}

.card_info{
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 1px solid var(--font_color);
}

.card_counter{
    flex-basis: 33%;
}

.round_counter{
    flex-basis: 33%;
}

.enemy_lbl{
    flex-basis: 33%;
} 

.player_deck{
    flex-basis: 50%;
    border: 1px solid var(--font_color);
}

.player_lbl{
    flex-basis: 33%;
} 

.cards_container{
    display: flex;
    flex-direction: row;

    width: 100%;
    justify-content: center;
    
    margin-top: 100px;
    gap: 100px;
}

.card{
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
}

.card_draggable{
    font-size: 25px;
}

/*LABYRINTH*/
.lab_title{
    text-align: center;
    margin-top: 75px;
}

.labyrinth_cont{
    width: 50%;
    height: 50%;
}

.lab_img{
    width: 100%;
    height: 100%;
}